@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-success w-100">START</button>
                    <p class="mt-2"><b>OPEN ORDERS</b></p>
                    <div class="card-body bg-warning w-100 text-success">
                        No Open Orders
                    </div>
                </div>
                <div class="col-6">
                    <button class="btn btn-dark w-100">ACCOUNT:REAL</button>
                    <p class="mt-2"><b>COMPLETED ORDERS</b></p>
                    <div class="card-body bg-warning w-100 text-success">
                        <p class="text-dark">EUR/USD</p>
                        <p class="text-success">BUY</p>
                        <p class="text-dark mt-2">EUR/USD</p>
                        <p class="text-success">BUY</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-4">
                    <div class="card-body bg-light">
                        <div class="card-title">ACCURACY</div>
                        <b>80%</b>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-body bg-light">
                        <div class="card-title">PROFIT RATE</div>
                        <b>80%</b>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-body bg-light">
                        <div class="card-title">TRADING CURRENCY</div>
                        <b>EURUSD</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <table class="table table-dark table-responsive w-100">
                    <thead>
                        <tr class="text-success">
                            <td>CURRENT RATES</td>
                            <td></td>
                            <td>PREDICTED RATES</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>EUR / USD</td>
                            <td>0.000000</td>
                            <td>0.000000</td>
                            <td> 1 min</td>
                        </tr>
                        <tr>
                            <td>EUR / USD</td>
                            <td>0.000000</td>
                            <td>0.000000</td>
                            <td> 1 min</td>
                        </tr>
                        <tr>
                            <td>EUR / USD</td>
                            <td>0.000000</td>
                            <td>0.000000</td>
                            <td> 1 min</td>
                        </tr>
                        <tr>
                            <td>EUR / USD</td>
                            <td>0.000000</td>
                            <td>0.000000</td>
                            <td> 1 min</td>
                        </tr>
                        <tr>
                            <td>EUR / USD</td>
                            <td>0.000000</td>
                            <td>0.000000</td>
                            <td> 1 min</td>
                        </tr>
                        <tr>
                            <td>EUR / USD</td>
                            <td>0.000000</td>
                            <td>0.000000</td>
                            <td> 1 min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>